.col {
  display: flex;
}

.cardWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.highlighted {
  border: 2px solid var(--app-color-primary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
