.slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--app-spacing-lg);
  background: transparent;
}

.header {
  margin-bottom: var(--app-spacing-lg);
  border-bottom: 1px solid var(--app-color-border-secondary);
  padding-bottom: var(--app-spacing-sm);
  background: transparent;
  padding-inline: var(--app-spacing-none);
}

.headerTitle {
  margin: var(--app-spacing-none);
  font-size: var(--app-font-size-2xl);
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--app-spacing-none);
}
