.footer {
  margin-top: var(--app-spacing-lg);
  padding: var(--app-spacing-sm) var(--app-spacing-lg);
  border-top: 1px solid var(--app-color-border-secondary);
  background: transparent;
}

.footerContent {
  width: 100%;
}

.companyLogo {
  flex: 1;
  display: flex;
  align-items: center;
}
